<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-email-list</title>
</head>
<body>
    <div id="app">
        <div v-if="endLoading === false">
            <h1>Caricamento delle mail in corso, attendere...</h1>
        </div>
        <div v-else>
            <h1>Caricamento completato!</h1>
        </div>
        <div v-if="canLoad===true">
            <div v-for="(mail,index) in emailList">
                {{mail}}
            </div>
        </div>
        
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</body>
</html>